{
  "semi": false,
  "singleQuote": true,
  "trailingComma": "none",
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "endOfLine": "lf",
  "overrides": [
    {
      "files": ["apps/admin/**", "libs/contracts/**"],
      "options": {
        "semi": true,
        "trailingComma": "all"
      }
    }
  ]
}
